In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cardiovascular-disease/cardio.csv
/kaggle/input/cardio-1/cardio_data_processed.csv

In [2]:
import matplotlib as mt
import seaborn as sns
import sklearn as sk

In [3]:
# import dataset
df = pd.read_csv("/kaggle/input/cardiovascular-disease/cardio.csv", sep=';')

In [4]:
# Info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69997 entries, 0 to 69996
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           69997 non-null  int64
 1   age          69997 non-null  int64
 2   gender       69997 non-null  int64
 3   height       69997 non-null  int64
 4   weight       69997 non-null  float64
 5   ap_hi        69997 non-null  int64
 6   ap_lo        69997 non-null  int64
 7   cholesterol  69997 non-null  int64
 8   gluc         69997 non-null  int64
 9   smoke        69997 non-null  int64
 10  alco         69997 non-null  int64
 11  active       69997 non-null  int64
 12  cardio       69997 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [5]:
df.shape

(69997, 13)

In [6]:
#stats
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000,69997.000000
mean,49974.561153,19468.880995,1.349558,164.358915,74.204942,128.817092,96.630698,1.366830,1.226438,0.088118,0.053759,0.803720,0.499693
std,28850.066516,2467.204211,0.476834,8.209839,14.395578,154.014714,188.476564,0.680207,0.572242,0.283469,0.225544,0.397185,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25009.000000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50004.000000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74890.000000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
# overview
print(df)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          2  18857       1     165    64.0    130     70            3     1
2          3  17623       2     169    82.0    150    100            1     1
3          4  17474       1     156    56.0    100     60            1     1
4          8  21914       1     151    67.0    120     80            2     2
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69992  99993  19240       2     168    76.0    120     80            1     1
69993  99995  22601       1     158   126.0    140     90            2     2
69994  99996  19066       2     183   105.0    180     90            3     1
69995  99998  22431       1     163    72.0    135     80            1     2
69996  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       0       1
2          0     0       1       1
3          0     0       0       0
4          0     0       0       0
...      ...   ...     ...     ...
69992      1     0       1       0
69993      0     0       1       1
69994      0     1       0       1
69995      0     0       0       1
69996      0     0       1       0

[69997 rows x 13 columns]

In [8]:
#first five data
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
2,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
3,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
4,8,21914,1,151,67.0,120,80,2,2,0,0,0,0

In [9]:
# last five data
df.tail()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
69992,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69993,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69994,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69995,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69996,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [10]:
#df[['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'glu', 'smoke', 'alco', 'active', 'cardio']] = df[['id', 'age', 'gender', 'height', "weight", 'ap_hi', 'ap_lo', 'cholesterol', 'glucose', 'smoke', 'alcohol', 'active', 'cardio']].str.split(';', expand=True)

In [11]:
df.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [12]:
df.info

<bound method DataFrame.info of           id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          2  18857       1     165    64.0    130     70            3     1
2          3  17623       2     169    82.0    150    100            1     1
3          4  17474       1     156    56.0    100     60            1     1
4          8  21914       1     151    67.0    120     80            2     2
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69992  99993  19240       2     168    76.0    120     80            1     1
69993  99995  22601       1     158   126.0    140     90            2     2
69994  99996  19066       2     183   105.0    180     90            3     1
69995  99998  22431       1     163    72.0    135     80            1     2
69996  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       0       1
2          0     0       1       1
3          0     0       0       0
4          0     0       0       0
...      ...   ...     ...     ...
69992      1     0       1       0
69993      0     0       1       1
69994      0     1       0       1
69995      0     0       0       1
69996      0     0       1       0

[69997 rows x 13 columns]>

In [13]:
df["age"]

0        18393
1        18857
2        17623
3        17474
4        21914
         ...
69992    19240
69993    22601
69994    19066
69995    22431
69996    20540
Name: age, Length: 69997, dtype: int64

In [14]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
2,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
3,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
4,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69992,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69993,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69994,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69995,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69996,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0